@using VendorAndOrderTracker.Models;

<h1>Vendor Information</h1>

<h2>@Model.Name</h2>
<h3>@Model.Description</h3>
<ul>
  @foreach (Order order in Model.Orders)
  {
    <li>@order.Title</li>
    <ul>
      <li>@order.Description</li>
      <li>Price: @order.Price</li>
      <li>Order date: @order.Date</li>
    </ul>
  }
</ul>